// Создание строки для svg изображений, с возможностью замены цвета
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }
  @return $string;
}

@function make-icon( $icon, $color: #fff) {
  $placeholder: '%%COLOR%%';
  $data-color: str-replace( url( $svg-prefix + $icon ), $placeholder, $color );
  @return str-replace( $data-color, '#', '%23' );
}